/* Navbar.css */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    font-size: 2.5rem;
    list-style-type: none;
  }
  
  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }
  
  a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
  }
  
  .logo {
    font-size: 3.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .logo .name {
    margin-right: 42rem; 
  }
  
  .logo:hover {
    cursor: default;
  }
  

  .hamburger-nav{
    display: none;
  }
 
  .hamburger-menu{
    position: relative;
    display: inline-block;
  }

  .hamburger-icon{
    display: felx;
    flex-direction: column;
    justify-content: space-between;
    height: 24;
    width: 30;
    cursor: pointer;
  }


/* Media query for mobile responsiveness */
@media screen and (max-width: 1200px) {
    .nav-links{
        display: none;
    };
    .hamburger-nav{
        display: flex;
    };
    .hamburger-icon {
        display: flex; 
    };

    .menu-links {
        display: flex;
    }
  }