/* Navbar.css */


span{
  display: none;
}

nav {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 17vh;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    list-style-type: none;
    margin-right: 2%;
  }
  
  a {
    color: #FFCD4B;
    text-decoration: none;
    text-decoration-color: black;
  }
  
  a:hover {
    color: #872341;
    text-decoration: underline;
    text-underline-offset: 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    /* align-items: center; */
    padding: 10px;
  }
  
  .logo .name {
    margin-right: auto; 
    color: #FFCD4B;
    
  }
  .logo:hover {
    cursor: default;
  }
  

  .hamburger-nav{
    display: none;
  }
 
  .hamburger-menu{
    position: relative;
    display: inline-block;
  }

  .hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24;
    width: 30;
    cursor: pointer;
  }

  .open .hamburger-links{
    display: inline-table;
  }

  

  

/* Media query for mobile responsiveness */

@media screen and (max-width: 700px){
  .hamburger-links{
    display: none;
    color: orange;
  }
  
  
  .hamburger-span{
    align-self: flex-end;
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background: orange ;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    
  }
  .hamburger-span::after{
    margin-left:-15px;
    height: 4px;
    width: 30px;
    background: orange;
    top: 8px;
    position: absolute;
    content: " ";
    border-radius: 2px;
    transition: all 0.3s ease-in;
  }

  .hamburger-span::before{
    margin-left:-15px;
    height: 4px;
    width: 30px;
    background: orange;
    top: -8px;
    position: absolute;
    content: " ";
    border-radius: 2px;
    transition: all 0.3s ease-in;


    .logo {
      flex-direction: column; /* Stack logo elements vertically */
      align-items: flex-start; /* Align logo elements to the start */
    }
  
    .logo .name {
       /* Remove margin to prevent shifting */
      margin-bottom: 5px; /* Add some spacing between name and hamburger icon */
    }
  
  

    

    

  
}

   
  .open::before {
    transform: rotate(45deg) translate(11px);
  }
  
  .open::after {
    transform: rotate(-45deg) translate(11px);
  }
  

  .open .hamburger-span {
    height: 0px;
  }
  
  
  

  
}